__tests__/
benchmark/
bundles/
coverage/
data/
dev-docs/
lib-cov/
scripts/
src/
static/
test/

appveyor.yml
codecov.yml
.eslintrc.js
.gitignore
index.html
package-lock.json
ROADMAP.md
rollup.config.js
*.spec.js
.travis.yml
webpack.config.js
